body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8f5e9;
}

.container {
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}